# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Model weights
*.pt

# Generated outputs
data/output/
reports/

# Temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Ollama temp/cache
ollama.log

data/*.jpg